@use '../utils/animations.scss' as *;

.channel-call-wrapper {

    .hamburger-outer.bar {
        padding: .2rem .7rem;
        right: 0;
        &[data-istoggled=untoggled]{
            animation-name: disapperToRight !important;
            .hamburger-btn {
                left: -30px;
            }
        }
        &[data-istoggled=toggled]{

            // animation-name: appearFromRigth !important;
            .hamburger-btn{
                left: 0%;
            }
        }
        &[data-istoggled=loaded]{
            position: absolute;
            .hamburger-btn {
                left: -30px;
            }
            .hamburger {
                &-children {
                    display: none;
                    // transform: translateX(200%) !important;
                    // opacity: 0;
                }
            }
        }
        .hamburger-btn {
            position: absolute !important;
            // top: 2% !important;

        }
    }
}

.channel-webrtc{
    display: grid;
    padding: .5rem 1rem;
    place-content: center;
    position: relative;
    // flex:45%; 
    border-right: 1px solid black;
    gap:1rem;  
    .local-user{
        margin:auto;
        &-video{
            width: 100%;
            object-fit: cover;
            //     width: 150px;
        //     outline: 1px solid black    ;
        }
    }

    .remote-users {
        display: flex;

    }
    .remote-user{
        &-video{
            outline: 1px solid red;
        }
    }

    // .focused-user {
    //     position: absolute;
    //     margin: auto;
    //     top:0;
    //     left: 0;
    //     right: 0;
    //     width: 100%;
    //     height: 50%;
    // }
   
}